<h2>Editer mon compte</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.label :email, class: 'col-sm-3 col-form-label'%><br />
  <%= f.email_field :email,
    autofocus: true,
    autocomplete: 'email',
    class: classes_for_field(resource, :email),
    placeholder: 'email@mail.ail' %>
  <%= errors_for_field(resource, :email) %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>



  <%= f.label :password, 'Mot de passe',  class: 'col-sm-3 col-form-label'%>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password,
    class: classes_for_field(resource, :password),
    placeholder: '********' %>
  <%= errors_for_field(resource, :password) %>

  <%= f.label :password_confirmation, 'Confirmation du mot de passe', class: 'col-sm-3 col-form-label'%><br />
  <%= f.password_field :password_confirmation,
    class: classes_for_field(resource, :password_confirmation),
    placeholder: '********' %>
  <%= errors_for_field(resource, :password_confirmation) %>

  <%= f.label :current_password %> <i>(On a besoin de votre mot de passe actuel pour confirmer que c'est vous)</i><br />
  <%= f.password_field :current_password,
    class: classes_for_field(resource, :current_password),
    placeholder: '********' %>
  <%= errors_for_field(resource, :current_password) %>


  <br />

  <span class="actions float-right">
    <%= f.submit "Edition", class: 'btn btn-primary' %>
  </span>
<% end %>

<br />
<br />

<h3>Annuler mon compte</h3>

<%= button_to "Annuler mon compte", registration_path(resource_name), data: { confirm: "Êtes vous sure de vouloir annuler votre compte ? Vos données seront perdues !" }, method: :delete, class: 'btn btn-danger' %>
<br />
<%= link_to "Revenir en arrière", :back %>
