<h2>Les projets auxquels j'ai participé :</h2>

<br/>

<div class='row'>
  <% user.contributor_projects.includes(:contributions).each do |project| %>
    <div class='col-sm-6'>
      <%= render 'projects/card', project: project do %>
        <p><b>Dont <%= user.print_amount_for_project(project) %> venant de vous.
        Ça représente <%= user.print_percent_contributed(project) %> du total ! Merci !</b></p>

        <% rewards = user.rewards_for_project(project) %>
        <% if rewards.present? %>
          <p><b>Ces contributions vous ont permis d'obtenir : </b></p>
          <ul>
          <% rewards.each do |reward| %>
            <li><%= reward.name %></li>
          <% end %>
          </ul>
        <% end %>

        Contributions : <br/>
        <% user.contributions_for_project(project).each do |contribution| %>
          <%= link_to "Facture (#{currency_print(contribution.amount)})", project_contribution_path(project, contribution, format: :pdf) %> <br/>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<br/>

<%= link_to 'Éditer mon profil', edit_user_registration_path, class: 'btn btn-warning' %>
