<div>

  <p>total contributions : <%= currency_print(project.total_collected) %></p>
  <p>max contribution : <%= currency_print(project.max_contribution&.amount_donated_in_cents) %></p>
  <p>min contribution : <%= currency_print(project.min_contribution&.amount_donated_in_cents) %></p>

  <p>progression : <%= currency_print(project.total_collected) %> / <%= currency_print(project.amount_wanted_in_cents) %></p>
  <p>progression : <%= percent_print(project.completion) %></p>

</div>
