<div class='row'>
  <div class='form-group container my-2 my-lg-'>
    <%= search_form_for @q do |f| %>

      <%= f.label :name_or_small_blurb_or_long_blurb_or_owners_first_name_or_owners_last_name_cont, 'Chercher un projet : ' %>
      <%= f.search_field :name_or_small_blurb_or_long_blurb_or_owners_first_name_or_owners_last_name_cont, class: 'form-control' %>

      <br/>

      <label class='pr-2'>Filtrer l'état du projet :</label>
      <%= select("q", "aasm_state_eq", aasm_state_choice, { include_blank: true }, class: 'form-control') %>

      <br/>

      Filtrer par catégories :
      <% ActsAsTaggableOn::Tag.find_each do |tag| %>
        <label class='pl-2'>
          <%= check_box_tag('q[categories][]', tag.name, params.dig(:q, :categories)&.include?(tag.name)) %> <%= tag.name %>
        </label>
      <% end %>

      <%= f.submit class: 'form-control btn btn-primary mb-2' %>
    <% end %>
  </div>
</div>
<div class='row'>
  <% @projects.each do |project| %>
    <div class='col-sm-6 mb-3'>
      <%= render 'card', project: project do %>
        <p><%= project.small_blurb %></p>
      <% end %>
    </div>
  <% end %>
</div>
