<div class='row'>
  <%= search_form_for @q do |f| %>
    <%= f.label :name_or_small_blurb_or_long_blurb_or_owners_first_name_or_owners_last_name_cont, 'Chercher un projet : ' %>
    <%= f.search_field :name_or_small_blurb_or_long_blurb_or_owners_first_name_or_owners_last_name_cont %>

    <% ActsAsTaggableOn::Tag.find_each do |tag| %>
      <br />
      <label>
        <%= check_box_tag('q[categories][]', tag.name, params.dig(:q, :categories)&.include?(tag.name)) %> <%= tag.name %>
      </label>
    <% end %>

    <%= select("q", "aasm_state_eq", aasm_state_choice, { include_blank: true }) %>

    <%= f.submit %>
  <% end %>
</div>
<div class='row'>
  <% @projects.each do |project| %>
    <div class='col-sm-6 mb-3'>
      <%= render 'card', project: project %>
    </div>
  <% end %>
</div>
