
<div class='row'>
  <div class='col-sm-12'>
    <% if @project.landscape.present? %>
      <%= render 'layouts/shared/image', url: @project.landscape.url %>
    <% end %>

    <% if @project.thumbnail.present? %>
      <div class='profile-container'>
        <%= render 'layouts/shared/image', url: @project.thumbnail.url %>
      </div>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class='flex-row d-flex justify-content-between align-items-center'>
      <div class='p-2'>
        <h1><%= @project.name %></h1>
      </div>
      <div class='p-2'>
        <%= render 'badge', state: @project.aasm_state %>
      </div>
    </div>
    <div class='pl-2 pr-2'>
      <%= render 'completion', project: @project %>
    </div>
  </div>
</div>
<br />

<div class='row'>
  <div class='col-sm-8'>
    <div class="pl-2">
      <h3>Description :</h3>
      <p><%= @project.long_blurb %></p>
    </div>
  </div>

  <div class='col-sm-4'>
    <h3>Contreparties :</h3>
    <% @project.rewards.each do |reward| %>
      <%= render 'reward', reward: reward %>
    <% end %>
  </div>
</div>

