
<div class='row'>
  <div class='col-sm-12'>
    <% if @project.landscape.present? %>
      <%= render 'layouts/shared/image', url: @project.landscape.url %>
    <% end %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-3'>
    <% if @project.thumbnail.present? %>
      <%= render 'layouts/shared/image', url: @project.thumbnail.url %>
    <% end %>
  </div>
  <div class='col-sm-9'>
    <div class='flex-row d-flex justify-content-between align-items-center'>
      <div class='p-2'>
        <h1><%= @project.name %></h1>
      </div>
      <div class='p-2'>
        <%= render 'badge', state: @project.aasm_state %>
      </div>
    </div>
    <div class='pl-2 pr-2'>
      <%= render 'completion', project: @project %>
    </div>
  </div>
</div>
<br />

<p><%= @project.small_blurb %></p>
<p><%= @project.long_blurb %></p>


