<h2>Faire une contribution</h2>

<%= form_for @contribution, url: project_contributions_path(@project), method: :post do |f| %>

  <%= f.label :amount, class: 'col-sm-3 col-form-label' %><br />
  <%= f.number_field :amount,
    autofocus: true,
    autocomplete: 'amount',
    class: classes_for_field(@contribution, :amount),
    placeholder: '19,99 €',
    step: "0.01",
    value: @contribution.amount ? @contribution.amount.to_f / 100 : nil %>
  <%= errors_for_field(@contribution, :amount) %>

  <%= f.label :reward, class: 'col-sm-3 col-form-label' %>
  <%= f.select(
        :reward_id,
        options_for_select(
          @project.available_rewards.pluck(:name, :threshold, :id).map do |name, threshold, id|
            ["#{name}, contribution minimum : #{currency_print(threshold)}", id]
          end,
          params[:reward_id]
        ),
        { include_blank: true },
        { class: classes_for_field(@contribution, :reward) }
      ) %>
  <%= errors_for_field(@contribution, :reward) %>

  <br />

  <span class="actions float-right">
    <%= f.submit "Donner", class: 'btn btn-primary' %>
  </span>
<% end %>
