<!DOCTYPE html>
<html>
  <head>
    <title>FormationMartin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= render 'layouts/shared/nav' %>

    <div class='main container'>
      <% if flash %>
        <% flash.each do |type, alert| %>

          <div class="alert alert-dismissible alert-<%= type_to_bootstrap(type) %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p class="mb-0"><%= alert %></p>
          </div>

        <% end %>
      <% end %>


      <%= yield %>
    </div>
  </body>
</html>
